EMAIL_ACCOUNT=your-account@example.com
EMAIL_PASSWORD=your-app-password
ADMIN_EMAIL=admin@example.com

IMAP_SERVER=imap.gmail.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
IMAP_FOLDER=INBOX

PRINTER_NAME=Your_Printer_Name
TMP_DIR=/tmp/mailtoprint
LOG_DIR=/home/pi/mailtoprint/logs
MAX_QUANTITY=10

WHITELIST=admin@example.com,person2@example.com
